@model PagedList.IPagedList<Course>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
    <div class="form-inline">
        Find by teacher name: @Html.TextBox("SearchString", ViewBag.Currentfilter as string, new { @class = "form-control" })
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </div>
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Credits
        </th>
        <th>
            University
        </th>
        <th>
            Faculty
        </th>
        <th>
            @Html.ActionLink("Department Name", "Index", new { sortOrder = ViewBag.NameDepSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Teacher First Name
        </th>
        <th>
            Teacher Last Name
        </th>
        <th>
            Course Date
        </th>
        <th>
            Exam Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departament.Faculty.University.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departament.Faculty.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departament.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
                {
                    @Html.ActionLink("Edit ", "Edit", new {id = item.CourseId})
                    @Html.ActionLink("Details ", "Details", new {id = item.CourseId}) 
                    @Html.ActionLink("Delete", "Delete", new {id = item.CourseId})
                }
            </td>
        </tr>
    }
</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))