@model User

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "UsersProfile", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr/>

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.Label("User Name", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.UserId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("First Name", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Last Name", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LastName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Educational Form", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("Ed_Form", (SelectList) ViewBag.Name, " ", new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Ed_Form, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Father Name", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.FatherName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Department", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("DepID", (SelectList) ViewBag.Name, " ", new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.DepID, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Group Number", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.GroupNumber, new {htmlAttributes = new {@class = "form-control", type = "number", onkeypress = "ValidateGroup(event);"}})
                @Html.ValidationMessageFor(model => model.GroupNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("University", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.UniversityId, null, new {@class = "form-control", onload = "ex()", getUniversityUrl = Url.Action("GetFaculty")})
                @Html.ValidationMessageFor(model => model.Faculty.UniversityId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Faculty", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.FacultyId, null, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.FacultyId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Image Upload", new {@class = "control-label col-md-2", visiblity = "hidden"})
            <div class="col-md-10">
                <input type="file" name="image" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-group"/>
            </div>
        </div>

    </div>
    <div class="row">


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    <script type="text/javascript" src="~/Scripts/regex.js"></script>
    <script type="text/javascript" src="~/Scripts/dropdownT.js"></script>
}